/* #region - snippets */
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    box-sizing: border-box;
    font-size: 125%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* #endregion - snippets */

/* #region - stops scroll bounce */
html,
body {
    display: grid;
    overflow: hidden;
}

#root {
    /* removes default margins */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* prevent mobile scroll bouncing */
    overflow-x: hidden;
    overflow-y: hidden;
}

/* #endregion - stop scroll bounce */

/* #region - default styles */
.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    width: auto;
    height: 100%;
}

h2,
h3,
h4 {
    margin: 0;
    padding: 10px;
}

/* #endregion - default styles */


/* #region - variables */
:root {
    --background-green: hsl(121, 71%, 15%);
    --chalk-text: hsla(0, 0%, 100%, 0.7);
    --footer-gradient: linear-gradient(hsl(34, 72%, 35%), hsl(34, 73%, 20%));
    --header-gradient: linear-gradient(hsl(34, 73%, 20%), hsl(34, 72%, 35%));
    --title-font: 'Londrina Outline', cursive;
    --work-area-font: 'Callie Chalk Font', sans-serif;
    --wood-font: 'Neucha', cursive;
}

/* #endregion - variables */

#grid {
    display: grid;
    grid-template-areas:
        "header header header"
        "board-top board-top board-top"
        "board-left board-mid-bottom board-right"
        "footer footer footer";
    grid-template-rows: 10vh 20vh 60vh 10vh;
    grid-template-columns: 30vw 40vw 30vw;
}

.title-text,
.work-area,
.range,
.counter-box,
button,
.total {
    text-align: center;
    opacity: 0.8;
    /* #region - font chalk texture */
    background: url(./images/textures/white_chalk_texture.png) no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* #endregion - font chalk texture */
}

.work-area,
.range,
button {
    font-family: var(--work-area-font);
    font-size: 2vmax;
}

body {
    background-color: var(--background-green);
    height: 100%;
    margin: 0;
}

/* background chalkboard texture */
.texture {
    height: 100vmax;
    opacity: 0.7;
}

/* head and foot wood texture */
.wood-grain {
    width: 100%;
    height: inherit;
    opacity: 0.3;
    background-image: url("./images/textures/long_wood_grain.png");
    mix-blend-mode: soft-light;
}

/* #region - heading  */
/* chalk title */
.title-wrapper {
    display: grid;
    grid-area: board-top;
    width: max-content;
    justify-self: center;
}

.title-text {
    font-family: var(--title-font);
    font-size: 10vh;
    margin: 1vh;
    padding: 0 25px;
}

.top-frame {
    grid-area: header;
    display: grid;
    background: var(--header-gradient);
    box-shadow: 0 1px 5px 0.2px;
}

.footer .wood-grain {
    display: flex;
    background-position-y: bottom;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: footer;
    background: var(--footer-gradient);
    box-shadow: 0 -1px 5px 0.2px;
}

.top-frame,
.footer {
    height: 100%;
}

.wood-grain h4 {
    font-family: var(--wood-font);
    font-size: 2rem;
    color: #fff;
    -webkit-text-stroke: 0.1px #000;
    text-shadow: 0 0 2px #000;
    letter-spacing: 0.4rem;
    transform: skew(-20deg, 0deg);
}

/* #endregion - heading  */
/* #region - workspace area */

.work-area {
    grid-area: board-mid-bottom;
    /* position */
    display: flex;
    justify-content: center;
    align-self: center;
}

.work-area-form {
    display: grid;
}

.equation-text {
    display: grid;
    align-content: end;
    line-height: 10vmax;
}

.answer-input {
    margin: 10px;
}

.answer-button {
    margin: 5px auto;
}

.mark {
    display: grid;
    visibility: hidden;
    position: absolute;
    font-size: 10vmin;
    margin-top: 5vh;
    margin-left: 20vw;
}

#checkmark {
    background: url(./images/textures/green_chalk_texture.png) no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#x-mark {
    background: url(./images/textures/red_chalk_texture.png) no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* #endregion - workspace area */

/* #region - counter */
.counter-box {
    grid-area: board-right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 4vmin;
    font-family: var(--work-area-font);
}

.apple-wrapper {
    display: flex;
    background: url('./images/chalk_apple.png') no-repeat;
    background-size: contain;
    background-position-x: center;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

/* #endregion - counter */

/* #region - range selection */
.range {
    grid-area: board-left;
    transform: skew(-1deg, -15deg);
    margin: 5vh 1vw;
}

.form-label {
    margin: 0;
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    display: inline-block;
    background-color: transparent;
    border-style: none;
    border-bottom: 3px solid var(--chalk-text);
    /* width: 4vmax; */
    height: 4vmax;
    font-family: var(--work-area-font);
    font-size: 3vmax;
    text-align: center;
    padding: 2px 4px;
    caret-color: var(--chalk-text);
    /* removes default focus style */
    outline: none;
}

.to {
    padding: 0 15px;
}

button {
    border: 3px solid hsla(170, 35%, 69%, 0.7);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 5px 5px 0 5px;
}

button:hover {
    text-shadow: 0 0 20px hsla(0, 0%, 100%, 0.7);
}

/* #endregion - range selection */